[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-dotenv = "*"
sqlalchemy = "*"
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}
telebot = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
